CSIRTG_FM_RUNTIME_PATH={{ fm_runtime_path | default(fm.runtime_path) }}
CSIRTG_FM_RULES_PATH={{ fm_rules_path | default(fm.rules_path) }}/default
CSIRTG_FM_CACHE_PATH={{ fm_cache_path | default(fm.cache_path) }}
CSIRTG_FM_FIREBALL_SIZE={{ fm_fireball_size | default(fm.fireball_size) }}
CSIRTG_FM_GOBACK_DAYS={{ fm_goback_days | default(fm.goback_days) }}

CIF_TOKEN={{ fm_cif_token | default() }}
CIF_REMOTE={{ fm_cif_remote | default() }}

CSIRTG_TOKEN={{ fm_csirtg_token | default() }}